div {
  padding: 0;
  margin : 0;
}

header {
  background-color: #21222A;
  height : 100px;
  margin : 0;
  width : 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav > img {
  
}
