header {
  background-color: #1a1a1a;
  height : 100px;
  display : flex;
  align-items : center;
  gap : 10px;
  justify-content: center;
  color : white;
}

div{
  margin:0;
  padding:0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.card {
  display: flex;
  padding: 10px;
  
}

.card > div > img {
  border-radius: 10px;
}

.card > div {
  margin-left: 15px;
}